# LLM Config
LLM_PROVIDER=gemini #openai
LLM_MODEL_NAME=gemini-2.5-flash #gpt-4.1-mini
LLM_EMBEDDING_MODEL=models/embedding-001 #text-embedding-ada-002
GOOGLE_API_KEY=
OPENAI_API_KEY=

# Meta Configuration for Whatsapp intergration
META_VERIFY_TOKEN=
META_ACCESS_TOKEN=
META_PHONE_NUMBER_ID=
META_GRAPH_API_URL=https://graph.facebook.com/v22.0


# Telegram Configuration
TELEGRAM_BOT_TOKEN=
TELEGRAM_API_URL=https://api.telegram.org

# JWT Configuration
JWT_SECRET_KEY=test
JWT_ALGORITHM=HS256


# Database Configuration
DB_CONNECTION='mysql+pymysql'
DB_HOST=""
DB_PORT=""
DB_USER=""
DB_PASSWORD=""
DB_DATABASE=""

# Directory path Configuration
DOCUMENT_DIR_NAME=./documents
