# LLM Config
MODEL_PROVIDER=gemini #openai
MODEL_NAME=gemini-2.5-flash #gpt-4.1-mini
EMBEDDING_MODEL=models/embedding-001 #text-embedding-ada-002
GOOGLE_API_KEY=
OPENAI_API_KEY=

# Meta Configuration for Whatsapp intergration
VERIFY_TOKEN=
ACCESS_TOKEN=
PHONE_NUMBER_ID=
GRAPH_API_URL=https://graph.facebook.com/v22.0


# Telegram Configuration
BOT_TOKEN=
TELEGRAM_API_URL=https://api.telegram.org

# JWT Configuration
SECRET_KEY=test
ALGORITHM=HS256


# Database Configuration
DB_CONNECTION='mysql+pymysql'
MYSQL_HOST=""
MYSQL_PORT=""
MYSQL_USER=""
MYSQL_PASSWORD=""
MYSQL_DATABASE=""

# Directory path Configuration
DIR_NAME=./documents
